[Desktop Entry]
Icon=text-html
Name=classes.lucidchart
Type=Link
URL[$e]=https://lucid.app/lucidchart/4512b0cc-0409-450d-a348-055ac988792e/edit?view_items=nh3P1wVFjfHz&invitationId=inv_47b70058-a8b8-4183-b858-064f8a35e1e9#
